@media only screen and (max-width: 650px) {
    .album {
        width: 140px !important;
    }
    .program-container {
        width: 100px !important;
    }
    .program-container > img {
        width: 80px !important;
    }
    .program-container > p {
        max-width: 200px;
        font-size: 12px !important;
    }

    .program-container > h3 {
        margin: 0 0 4px 0;
        font-size: 14px;
    }
}

@media only screen and (max-width: 450px) {
    .album {
        width: 100px !important;
    }
}


body {
    background-color: #000000;
    color: white;
    height: 100%;
}

.p-size {
    max-width: 800px;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('assets/photos/bg.jpg');
    height: 100%;
    width: 100%;
    z-index: -1;
    filter:grayscale(1);
    opacity: 0.4;
}

.year {
    min-width: 100px;
    min-height: 50px;
    text-align: center;
    position: relative;
    left: -45px;
}

.no-margin {
    margin: 0;
}

.light {
    font-weight: 300;
}

* {
    font-family: 'Montserrat';
}

h1, h2, h3, h4 {
    font-family: 'Source Code Pro';
}

#pfp {
    width: 200px;
    aspect-ratio: 1 / 1;
    background-color: rgba(255, 217, 0, 0);
    object-fit: cover;
    border-radius: 50%;
    border: #000000be 1px solid;
    margin: 20px;
}

#begin, #second, #educationsteps, #aboutme, #hardware, #software {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10px 0;
}

.sectiontitle {
    text-align: center;
    margin: 0 0 10px 0;
}

#aboutme > p {
    text-align: center;
    line-height: 125%;
    width: 90%;
}

br {
    margin: 0 0 4px 0;
}

.sectiontitle::after {
    content: "";
    width: 75%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
    width: 300px;
    height: 1px;
}

#educationsteps {
    height: 40px;
    margin: 0 0 50px 0;
    font-size: 12px;
}

.album {
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    aspect-ratio: 1 / 1;
    padding: 0;
    border-radius: 12px;
    border: 0;
    outline: 1px solid rgba(255, 255, 255, 0.336);
    filter: grayscale(1);
    transition: all 0.25s;
    cursor: pointer;
}

.album:hover {
    filter: grayscale(0);
    transition: all 0.25s;
    transform: translateY(-5px);
}

.main {
    text-decoration: underline;
}

.yearName {
    margin: 10px 0 0 0;
    font-size: 18px;
}

#line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 1px;
    background-color: white;
}

.step {
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#second {
    text-align: center;
}

#second > p {
    margin: 0;
}

a {
    color: white;
}

#linkbutton {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 2px 25px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.336);
    cursor: pointer;
    transition: all 0.2s;
}

#linkbutton:hover {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 2px 25px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.548);
    transform: translateY(-5px);
    cursor: pointer;
    transition: all 0.2s;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    gap: 5px;
}

#linkbutton > img {
    width: 28px;
    height: 28px;
    margin: 5px 10px 5px 5px;
}

#linkbutton > p {
    font-size: 16px;
    margin: 0;
    color: white;
}

#albumContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

table {
    padding: 5px;
}

tbody {
    outline: 1px solid rgba(255, 255, 255, 0.336);
    border-radius: 12px;
}

td {
    padding: 5px 10px;
}

tr:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.1);
}

.program-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 12px;
    width: 200px;
    border: 1px solid rgba(255, 255, 255, 0.336);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    transition: all 0.2s;
    cursor: pointer;
}

.program-container:hover {
    border: 1px solid rgba(255, 255, 255, 0.548);
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    transition: all 0.2s;
}

.program-container > img {
    margin: 10px;
    width: 140px;
    aspect-ratio: 1/1;
    filter: grayscale(1);
    transition: all 0.2s;
}

.program-container > p {
    max-width: 200px;
    font-size: 16px;
}

.program-container > img[data-hovered="yes"] {
    filter: grayscale(0);
    transition: all 0.2s;
}

.program-container > h3 {
    margin: 0 0 4px 0;
}

#software-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}