
body {
    background-color: #000000;
    color: white
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-size: cover;
    background-image: url('assets/photos/bg.jpg');
    height: 100%;
    width: 100%;
    z-index: -1;
    filter:grayscale(1);
    opacity: 0.4;
}

.year {
    min-width: 100px;
    min-height: 50px;
}

.no-margin {
    margin: 0;
}

.light {
    font-weight: 300;
}

* {
    font-family: 'Montserrat';
}

h1, h2, h3, h4 {
    font-family: 'Source Code Pro';
}

#pfp {
    width: 200px;
    aspect-ratio: 1 / 1;
    background-color: rgba(255, 217, 0, 0);
    object-fit: cover;
    border-radius: 50%;
    border: #000000be 1px solid;
    margin: 20px;
}

#begin, #second, #educationsteps {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 10px 0;
}

#educationsteps {
    height: 40px;
    margin: 0 0 50px 0;
    font-size: 12px;
}

.main {
    text-decoration: underline;
}

.yearName {
    margin: 10px 0 0 0;
    font-size: 18px;
}

#line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 1px;
    background-color: white;
}

.step {
    background-color: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#second {
    text-align: center;
}

#second > p {
    margin: 0;
}

a {
    color: white;
}

#linkbutton {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 2px 25px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.438);
    border: 1px solid rgba(255, 255, 255, 0.548);
    cursor: pointer;
    transition: all 0.1s;
}

#linkbutton:hover {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: center;
    align-items: center;
    padding: 2px 25px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.349);
    border: 1px solid rgba(255, 255, 255, 0.548);
    transform: translateY(-5px);
    cursor: pointer;
    transition: all 0.1s;
}

#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0;
    gap: 5px;
}

#linkbutton > img {
    width: 32px;
    height: 32px;
    margin: 5px;
}

#linkbutton > p {
    font-size: 16px;
    margin: 0;
    color: white;
}

iframe {
    margin: 10px 0;
    opacity: 0.8;
}